In [8]:
import numpy as np 
import pandas as pd
from sklearn.datasets import load_iris

In [18]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Column names as per UCI dataset
columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

# Load the dataset
df = pd.read_csv(url, names=columns)

df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
df=pd.DataFrame(np.arange(1,21).reshape(5,4),['Row1','Row2','Row3','Row4','Row5'],["Column1","Column2","Column3","Column4"])

In [ ]:
df=pd.DataFrame(np.arange(0,40,2).reshape(5,4),['Row1','Row2','Row3','Row4','Row5'],["Column1","Column2","Column3","Column4"])

In [99]:
df

      Column1  Column2  Column3  Column4
Row1        0        2        4        6
Row2        8       10       12       14
Row3       16       18       20       22
Row4       24       26       28       30
Row5       32       34       36       38

In [42]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [43]:
df['Column3']

Row1      2
Row2      6
R+ow3    10
Row4     14
Row5     18
Name: Column3, dtype: int32

In [ ]:
df[['Column2','Column3']]

      Column2  Column3
Row1        1        2
Row2        5        6
Row3        9       10
Row4       13       14
Row5       17       18

In [56]:
df.iloc[:,2].values.shape

(5,)

In [54]:
df.to_csv("test.csv")

In [61]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [90]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        4        6        4
Row3        8        9       10       11
Row4       12        4       14       15
Row5       16       17       18       19

In [89]:
df.iloc[3,1] = 4

In [80]:
data = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'apple'])

counts = data.value_counts()
print(counts)

apple     3
banana    2
orange    1
dtype: int64

In [93]:
df['Column2'].value_counts()

4     2
1     1
9     1
17    1
Name: Column2, dtype: int64

In [77]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])