In [5]:
import numpy as np 
import pandas as pd
from sklearn.datasets import load_iris

In [6]:
url = "../datasets/students_data_set/bike_details.csv"

# Load the dataset
df = pd.read_csv(url)

df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

In [ ]:
df.loc['Row1']

KeyError: 'Row1'

In [ ]:
df['Column3']

Row1     4
Row2    12
Row3    20
Row4    28
Row5    36
Name: Column3, dtype: int32

In [ ]:
df[['Column2','Column3']]

      Column2  Column3
Row1        2        4
Row2       10       12
Row3       18       20
Row4       26       28
Row5       34       36

In [ ]:
df.iloc[:,2].values.shape

(5,)

In [ ]:
df.to_csv("test.csv")

In [ ]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [ ]:
df

      Column1  Column2  Column3  Column4
Row1        0        2        4        6
Row2        8       10       12       14
Row3       16       18       20       22
Row4       24       26       28       30
Row5       32       34       36       38

In [ ]:
df.iloc[3,1] = 4

In [ ]:
data = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'apple'])

counts = data.value_counts()
print(counts)

apple     3
banana    2
orange    1
dtype: int64

In [ ]:
df['Column2'].value_counts()

2     1
10    1
18    1
4     1
34    1
Name: Column2, dtype: int64

In [ ]:
df['Column1'].unique()

array([ 0,  8, 16, 24, 32])

In [ ]:
df.sample(5)

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
259,Hero HF Deluxe i3s,54000,2019,Individual,1st owner,11000,NaN
619,Honda Activa [2000-2015],15000,2006,Individual,1st owner,50000,50267.0
723,Honda CB Unicorn 160,50000,2017,Individual,1st owner,52000,77545.0
918,Honda Activa [2000-2015],18000,2011,Individual,1st owner,28000,50267.0
985,Royal Enfield Classic 500,90000,2011,Individual,1st owner,40000,175000.0

In [ ]:
df.shape

(1061, 7)

In [ ]:
preference = df.loc[(df.year>2016) & (df.seller_type == "Individual")]
preference.shape

(352, 7)

In [ ]:
name = df['name']

In [ ]:
name

0                 Royal Enfield Classic 350
1                                 Honda Dio
2       Royal Enfield Classic Gunmetal Grey
3         Yamaha Fazer FI V 2.0 [2016-2018]
4                     Yamaha SZ [2013-2014]
                       ...
1056                              Activa 3g
1057                       Honda CB twister
1058                     Bajaj Discover 125
1059                         Honda CB Shine
1060                       Bajaj Pulsar 150
Name: name, Length: 1061, dtype: object

In [ ]:
df.loc[0]

name                 Royal Enfield Classic 350
selling_price                           175000
year                                      2019
seller_type                         Individual
owner                                1st owner
km_driven                                  350
ex_showroom_price                          NaN
Name: 0, dtype: object

In [8]:
df.shape

(1061, 7)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1061 non-null   object
 1   selling_price      1061 non-null   int64
 2   year               1061 non-null   int64
 3   seller_type        1061 non-null   object
 4   owner              1061 non-null   object
 5   km_driven          1061 non-null   int64
 6   ex_showroom_price  626 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 58.1+ KB

In [13]:
# to find z score
import numpy as np

data = [70, 75, 80, 85, 90]
x = 79  # value to calculate z-score for

mean = np.mean(data)
std_dev = np.std(data)  # By default, this calculates the population std

z = (x - mean) / std_dev

print("Z-score:", z)

Z-score: -0.1414213562373095

In [14]:
df

,name,selling_price,year,seller_type,owner,km_driven,ex_showroom_price
0,Royal Enfield Classic 350,175000,2019,Individual,1st owner,350,NaN
1,Honda Dio,45000,2017,Individual,1st owner,5650,NaN
2,Royal Enfield Classic Gunmetal Grey,150000,2018,Individual,1st owner,12000,148114.0
3,Yamaha Fazer FI V 2.0 [2016-2018],65000,2015,Individual,1st owner,23000,89643.0
4,Yamaha SZ [2013-2014],20000,2011,Individual,2nd owner,21000,NaN
...,...,...,...,...,...,...,...
1056,Activa 3g,17000,2010,Individual,1st owner,500000,52000.0
1057,Honda CB twister,16000,2012,Individual,1st owner,33000,51000.0
1058,Bajaj Discover 125,15000,2013,Individual,2nd owner,35000,57000.0
1059,Honda CB Shine,12000,2009,Individual,1st owner,53000,58000.0
1060,Bajaj Pulsar 150,10000,2008,Individual,1st owner,92233,75000.0

In [23]:
a = df.groupby('name')['selling_price']
a

In [21]:
a.mean()

name
Activa 3g                      31000.000000
Activa 4g                      40000.000000
Aprilia SR 125                 70000.000000
BMW G310GS                    300000.000000
Bajaj  ct 100                  18000.000000
                                  ...
Yamaha YZF R15 S               70833.333333
Yamaha YZF R15 V3             145000.000000
Yamaha YZF R15 [2011-2018]     66666.666667
Yamaha YZF R3                 365000.000000
Yo Style                       20000.000000
Name: selling_price, Length: 279, dtype: float64

In [ ]:
# df.iloc[row, feature]
df.iloc[2,0]
df.loc[2,'name']
df.loc[[0,99,999],['name','selling_price']]

'Royal Enfield Classic Gunmetal Grey'